/* hero image*/

.hero-image-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/food.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text-about {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}
.hero-text-about h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}

/* about */

.about-us {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.about-us h2 {
  font-family: "Merienda", cursive;
  font-size: 40px;
}

.about-us p {
  font-size: 25px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 20px;
}

/* FAQ */

.faq-container {
    padding: 20px;
    border-radius: 10px;
}

.faq-container h2{
    font-family: "Merienda", cursive;
    font-size: 60px;
    text-align: center;
}

.faq-item {
    margin-bottom: 15px;
}
.faq-question {
    background-color: #f7f7f7;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-size: 35px;
    font-family: "Sedan", serif;
    font-weight: 400;
}
.faq-question i {
    float: right;
}
.faq-answer {
    padding: 10px;
    background-color: #ffffff;
    display: none;
    font-size: 20px;
}


/* Mobile View */

@media only screen and (max-width: 768px) {
    .hero-image-about {
        height: 250px; 
    }

    .hero-text-about h1 {
        font-size: 40px; 
    }

    .about-us h2 {
        font-size: 30px;
    }

    .about-us p {
        font-size: 18px;
    }

    .faq-container h2 {
        font-size: 40px; 
    }

    .faq-question {
        font-size: 25px; 
    }

    .faq-answer {
        font-size: 16px;
    }
}


