
/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/food.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}
.hero-text h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}
.hero-text h2{
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 60px;
}

/* content section */

/* about */

.about {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.about h2 {
  font-family: "Merienda", cursive;
  font-size: 40px;
}

.about p {
  font-size: 25px;
  color: #666;
  margin-bottom: 20px;
}

.about button {
  font-size: 16px;
  padding: 10px;
  background-color: #FF7F50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Content 2 */
.content-2 {
    display: flex;
    align-items: center;
    padding: 50px;
}
.image-2 {
    flex: 1;
    order: 2;
}
.Learn-text-2 {
    flex: 1;
    padding: 20px;
    order: 1;
    text-align: center;
}
.image-container-2 {
    width: 100%;
}
.image-container-2 img {
    display: block;
    width: 100%;
    border-radius: 10%; 
    max-width: 600px;
    height: 600px;
}
.Learn-text-2 h2 {
    font-family: "Merienda", cursive;
    font-size: 30px;
    margin-bottom: 20px;
}
.Learn-text-2 p {
    font-size: 22px;
    margin-bottom: 20px;
    color: #666;
    
}
.Learn-text-2 button {
    padding: 10px;
    font-size: 16px;
    background-color: #FF7F50;
    color: #ffffff;
    border: none;
    border-radius: 5px;

}
.Learn-text-2 button:hover {
    background-color: #0056b3;
}

/* content 3 */

.content-3 {
    display: flex;
    align-items: center;
    padding: 50px;
}
.image-3 {
    flex: 1;
    order: 1;
}
.Learn-text-3 {
    flex: 1;
    padding: 20px;
    order:2;
    text-align: center;
}
.image-container-3 {
    width: 100%;
}
.image-container-3 img {
    display: block;
    width: 100%;
    border-radius: 10%; 
    max-width: 600px;
    height: 600px;
}
.Learn-text-3 h2 {
    font-family: "Merienda", cursive;
    font-size: 30px;
    margin-bottom: 20px;
}
.Learn-text-3 p {
    font-size: 22px;
    margin-bottom: 20px;
    color: #666;   
}

/*  Mobile View */

@media only screen and (max-width: 768px) {
    .hero-text h1 {
        font-size: 60px; 
    }

    .hero-text h2 {
        font-size: 40px; 
    }

    .content-2 {
        flex-direction: column; 
        padding: 20px; 
    }

    .image-2,
    .Learn-text-2 {
        flex: 1; 
        order: initial;
    }

    .image-container-2 img {
        height: auto;
    }

    .Learn-text-2 {
        text-align: center; 
    }

    .content-3 {
        flex-direction: column; 
        padding: 20px;     }

    .image-3,
    .Learn-text-3 {
        flex: 1; 
        order: initial; 
    }

    .image-container-3 img {
        height: auto;
    }

    .Learn-text-3 {
        text-align: center; 
    }
    .about {
        padding: 20px; 
    }

    .about h2 {
        font-size: 30px;
    }

    .about p {
        font-size: 18px;
    }

    .about button {
        font-size: 14px; 
        padding: 8px; 
    }
}

